.advantages {
  color: $greenPrimary;
  background-color: $white;

  &__container {
    padding-block: calc($gap * 6);
    padding-bottom: calc(250px + $gap * 6);
    position: relative;
  }

  &__title {
    margin-top: $gap;
    padding-left: 60%;
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
  }

  &__item {
    color: red;
  }

  // &__photo {
  //   position: absolute;
  //   top: 372px;
  //   right: 60%;
  //   left: 48px;

  //   &__img {
  //     border-radius: 50px;
  //   }
  // }


}
