.courses {
  position: relative;

  &__container {
    margin-bottom: $gap;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    padding: calc($gap * 8);
    background-color: $pinkPrimary;
    border-radius: calc($gap * 1.5);
  }

  &__title {
    margin-bottom: $gap;
  }

  &__item:not(:last-child) {
    margin-bottom: $gap;
  }
}
