.introducing {
  padding-block: calc($gap * 3);
  color: $greenPrimary;
  background-color: $white;
  // border-bottom: 1px solid $pinkPrimary;

  &__container {
    position: relative;
    min-height: 700px;
  }

  &__title {
    margin-bottom: 30px;
    padding-left: 60%;
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
  }

  &__desc {
    padding-left: 60%;
    text-align: justify;
  }

  &__photo {
    position: absolute;
    top: 0;
    right: 60%;
    left: $paddingInline;


    &__img {
      max-height: 700px;
      width: auto;
      border-radius: calc(1.5 * $gap);

    }
  }

  @media (max-width: $tablet) {
    &__container {
      min-height: 0;
    }

    &__title {
      padding-left: 0;
    }

    &__desc {
      padding-left: 0;
    }

    &__photo {
      display: none;
    }
  }
}
