// colors

// common
$white:                 #FFFFFF;
$greenPrimary:          #00353B;
$pinkPrimary:           #FCD8CA;
$bluePrimary:           #1F2937;
$greenSecondary:        #22A45A;
$greenSecondary--light: #AADEA8;

// layout text
$txtColorBgLigth:       #4B5563;
$txtColorBgDark:        #374151;
$sectionTitleColor:     #1F2937;
$lightLinkColor:        #111827;
$lightLinkColor--light: #1F2937;

// text of the review card
$cardColor:             #1F2937;
$cardAurthorColor:      #111827;
$cardDescColor:         #6B7280;

// the text of the post card
$cardTitle:             #1F2937;
$cardContent:           #4B5563;
$cardLinkMore:          #111827;

// gap
$gap: 16px;

// container width
$containerMaxWidth: 1440px;
$paddingInline: 80px;
